{% load static %}

<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>EasyDownload v0.1</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">

  </head>
    <body class="">
    <h1>Here are your links</h1>
    {% for line, link in list %}
    <div>
    <a href="{{link}}">{{line}}</a>
    </div>
    {% endfor %}
    <form action="" method="POST">
        {% csrf_token %}
        <p>
        <input type="Submit" name="submit" value="Update" id="button"/>
        </p>
    </form>
        <br>
        <p class="">This service will help you</p>
</body>
</html>
